<% if user_signed_in? %>
    <%= render 'render/head' %>
<% else %>
    <%= render 'render/reg' %>
<% end %>
<div class="container">
  <div class="row">
      <div class="col-lg-6">
        <h2>Авторизация:</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <label class="control-label" for="focusedInput">Email</label>
            <input class="form-control" id="focusedInput" type="email" name="user[email]">
          </div>

          <div class="form-group">
            <label class="control-label" for="focusedInput">Password</label>
            <input class="form-control" id="focusedInput" type="password" name="user[password]"  autocomplete="off">
          </div>
          <br />
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          <br />
          <div class="actions">
            <button type="submit" class="btn btn-primary"> Вход </button>
          </div>
        <% end %>
      </div>
  </div>
    <br />
    <h4><%= render "devise/shared/links" %></h4>
</div>